<div class="container">
  <h1>Add New Employee</h1>
  <div class="row">
    <div class="col-6">
      <form  #form="ngForm"   (ngSubmit)="addEmp()"     >
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name"
           [(ngModel)]="addEmpReq.name"    name="name"    >
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email"
          [(ngModel)]="addEmpReq.email"    name="email"
          >
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Mobile</label>
          <input type="number" class="form-control" id="phone" placeholder="Enter Mobile Number"
          [(ngModel)]="addEmpReq.phone"    name="phone"
          >
        </div>
        <div class="mb-3">
          <label for="salary" class="form-label">Salary</label>
          <input type="number" class="form-control" id="salary" placeholder="Enter Salary"
          [(ngModel)]="addEmpReq.salary"   name="salary"
          >
        </div>
        <div class="mb-3">
          <label for="department" class="form-label">department</label>
          <input type="text" class="form-control" id="department" placeholder="Enter Department"
          [(ngModel)]="addEmpReq.department"   name="department"
          >
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>
    </div>
</div>


